/**
 * objects/margin.less
 */

/* ==========================================================================
   Margin
   ========================================================================== */

/* Margin vars
   ========================================================================== */

@margin-array:
  none 0,
  ~'@{size-mod-xs}' 0.5em,
  ~'@{size-mod-s}' 1em,
  ~'@{size-mod-m}' 2em,
  ~'@{size-mod-l}' 4em,
  ~'@{size-mod-xl}' 8em;

/* Generate margin
   ========================================================================== */

/**
 * Auto generate margin selectors
 */

.creatmarginclasses(@margin-iterator:1) when(@margin-iterator <= length(@margin-array)) {
  @margin-name: extract(extract(@margin-array, @margin-iterator),1);

  .u-margin-right--@{margin-name} { margin-right: extract(extract(@margin-array, @margin-iterator),2) !important; }
  .u-margin-btm--@{margin-name} { margin-bottom: extract(extract(@margin-array, @margin-iterator),2) !important; }
  .u-margin-left--@{margin-name} { margin-left: extract(extract(@margin-array, @margin-iterator),2) !important; }
  .u-margin-top--@{margin-name} { margin-top: extract(extract(@margin-array, @margin-iterator),2) !important; }
  .u-margin-horz--@{margin-name} { margin: 0 extract(extract(@margin-array, @margin-iterator),2) !important; }
  .u-margin-vert--@{margin-name} { margin: extract(extract(@margin-array, @margin-iterator),2) 0 !important; }
  .u-margin-all--@{margin-name} { margin: extract(extract(@margin-array, @margin-iterator),2) !important; }

  .creatmarginclasses((@margin-iterator + 1));
}

// The end parenthesis means the mixin class itself will not be output
// http://lesscss.org/features/#mixins-feature-not-outputting-the-mixin
.creatmarginclasses();
