/**
 * settings/typography.less
 */

/* ==========================================================================
   Typography
   ========================================================================== */

/* Font families
   ========================================================================== */

@arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;
@georgia: Georgia, Times, 'Times New Roman', serif;

/* Base styles
   ========================================================================== */

@sans-serif: @arial;
@serif: @georgia;

@display-heading: @sans-serif;
@sub-heading: @serif;
@body-heading: @sans-serif;
@intro: @serif;

@base-font-family: @sans-serif;

/* Sizes
   ========================================================================== */

// Generic sizes
@font-size-xxl: 3em; // 48px
@font-size-xl: 2.625em; // 42px
@font-size-l: 2.25em; // 36px
@font-size-m: 1.875em; // 30px
@font-size-s: 1.5em; // 24px
@font-size-xs: 1em; // 16px
@font-size-xxs: 0.75em; // 12px

//Generic line heights
@line-height-xxl: 4;
@line-height-xl: 3.5;
@line-height-l: 3;
@line-height-m: 2.5;
@line-height-s: 2;
@line-height-xs: 1.5;
@line-height-xxs: 1;

// Base sizes
@base-font-size: @font-size-xs; // 16px
@base-line-height: @line-height-xs;  // 1.5 * 16px = 22px

// Headings
@font-size-h1: @font-size-xxl;
@font-size-h2: @font-size-xl;
@font-size-h3: @font-size-l;
@font-size-h4: @font-size-m;
@font-size-h5: @font-size-s;
@font-size-h6: @font-size-xs;

// Other
@font-size-blockquote: 1.125em; // 18px
