/**
 * settings/widths.less
 */

/* ==========================================================================
   Widths
   ========================================================================== */

/* Percentages expressed as fractions
   ========================================================================== */

@one-twelfth: 8.333333333333332%;
@one-sixth: 16.666666666666664%;
@one-quarter: 25%;
@one-third: 33.33333333333333%;
@five-twelfths: 41.66666666666667%;
@one-half: 50%;
@seven-twelfths: 58.333333333333336%;
@two-thirds: 66.66666666666666%;
@three-quarters: 75%;
@five-sixths: 83.33333333333334%;
@eleven-twelfths: 91.66666666666666%;
@one-whole: 100%;

/* ==========================================================================
   Scaffolding
   ========================================================================== */

/* Layout
   ========================================================================== */

/**
 * Based on a :root font-size of 16px
 */

@gutter: 1.250em; // 20px

/* Containers
   ========================================================================== */

@container-xs: @bp-xs-min;
@container-s: @bp-s-min;
@container-m: @bp-m-min;
@container-l: @bp-l-min;
@container-xl: @bp-xl-min;
@container-max: 100%;

@container-padding: @gutter;
