<section class="section">
    <h2>Form Elements</h2>

    <form>
        <div class="fields"><label for="text_field">Text Field:</label>
            <div class="input-box"><input id="text_field" class="input-text" type="text" /></div>
        </div>
        <div class="fields"><label for="text_field_failed">Validation Failed Text Field:</label>
            <div class="input-box"><input id="text_field_failed" class="input-text validation-failed" type="text" /></div>
        </div>
        <div class="fields"><label for="text_field_disabled">Disabled Text Field:</label>
            <div class="input-box"><input id="text_field_disabled" class="input-text" type="text" disabled="disabled" value="I'm disabled" /></div>
        </div>
        <div class="fields"><label for="text_area">Text Area:</label>
            <div class="input-box"></div>
        </div>
        <div class="fields">
            <div class="field"><label for="select_element">Select Element:</label>
                <div class="input-box"><select id="select_element">
                    <optgroup label="Option Group 1">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </optgroup>
                    <optgroup label="Option Group 2">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option disabled="disabled" value="3">Disabled Option</option>
                    </optgroup>
                </select></div>
            </div>
            <div class="field"><label for="select_element_disabled">Disabled Select Element:</label>
                <div class="input-box"><select id="select_element_disabled" disabled="disabled">
                    <option value="1">Unselectable Option</option>
                    <option value="2">This option should not even be seen</option>
                </select></div>
            </div>
        </div>
        <div>Radio Buttons:</div>
        <div class="control"><input id="radio_1" class="radio" type="radio" value="radio_1" name="radio_button" /> <label for="radio_1">Radio 1</label></div>
        <div class="control"><input id="radio_2" class="radio" type="radio" checked="checked" value="radio_2" name="radio_button" /> <label for="radio_2">Radio 2</label></div>
        <div class="control"><input id="radio_3" class="radio" type="radio" disabled="disabled" value="radio_3" name="radio_button" /> <label for="radio_3">Radio Disabled</label></div>
        <div>Checkboxes:</div>
        <div class="control"><input id="check_1" class="checkbox" type="checkbox" value="check_1" name="checkboxes" /> <label for="check_1">Checkbox 1</label></div>
        <div class="control"><input id="check_2" class="checkbox" type="checkbox" checked="checked" value="check_2" name="checkboxes" /> <label for="check_2">Checkbox 2</label></div>
        <div class="control"><input id="check_3" class="checkbox" type="checkbox" disabled="disabled" value="check_3" name="checkboxes" /> <label for="check_3">Checkbox Disabled</label></div>
    </form>
</section>
