<h1>Style Guide</h1>

<section class="section">
    <h2>Colours</h2>
    <div class="o-grid o-grid--has-gutter o-grid--has-equal-heights">
        <!--(bake colourswatch.html _foreach="colour:colours.names")-->
    </div>
</section>

<section class="section">
    <h2>Fonts</h2>
    <h3>Font Families</h3>
    <div class="o-grid o-grid--has-gutter o-grid--has-equal-heights">
        <div class="o-grid__cell o-unit-1-1 o-unit-1-2--m">
            <h4>Arial</h4>
            <p>Arial Regular<br>
                <em>Arial Regular Italic</em></p>
            <p><strong>Arial Bold<br>
                <em>Arial Bold Italic</em></strong></p>
        </div>
        <div class="o-grid__cell o-unit-1-1 o-unit-1-2--m">
            <h4>Georgia</h4>
            <p>Georgia Regular<br>
                <em>Georgia Regular Italic</em></p>
            <p><strong>Georgia Bold<br>
                <em>Gotham Bold Italic</em></strong></p>
        </div>
    </div>

    <h3>Font Sizes</h3>

    <p class="o-font-size--xxl">XX Large</p>
    <pre class="o-color--medium-grey">o-font-size--xxl</pre>
    <p class="o-font-size--xl">X Large</p>
    <pre class="o-color--medium-grey">o-font-size--xl</pre>
    <p class="o-font-size--l">Large</p>
    <pre class="o-color--medium-grey">o-font-size--l</pre>
    <p class="o-font-size--m">Medium</p>
    <pre class="o-color--medium-grey">o-font-size--m</pre>
    <p class="o-font-size--s">Small</p>
    <pre class="o-color--medium-grey">o-font-size--s</pre>
    <p class="o-font-size--xs">X Small</p>
    <pre class="o-color--medium-grey">o-font-size--xs</pre>
    <p class="o-font-size--xxs">XX Small</p>
    <pre class="o-color--medium-grey">o-font-size--xxs</pre>

    <h3>Font Style</h3>

    <p class="o-font-weight--normal o-font-style--normal">Font weight and style normal</p>
    <pre class="o-color--medium-grey">o-font-weight--normal</pre>
    <pre class="o-color--medium-grey">o-font-style--normal</pre>
    <p class="o-font-weight--bold">Font weight bold</p>
    <pre class="o-color--medium-grey">o-font-weight--bold</pre>
    <p class="o-font-style--italic">Font style italic</p>
    <pre class="o-color--medium-grey">o-font-style--italic</pre>

    <h3>Text Transform</h3>

    <p class="o-text-transform--uppercase">I am actually written in sentence case</p>

    <h3>Line Height</h3>

    <p class="o-line-height--xxl">XX Large</p>
    <pre class="o-color--medium-grey">o-line-height--xxl</pre>
    <p class="o-line-height--xl">X Large</p>
    <pre class="o-color--medium-grey">o-line-height--xl</pre>
    <p class="o-line-height--l">Large</p>
    <pre class="o-color--medium-grey">o-line-height--l</pre>
    <p class="o-line-height--m">Medium</p>
    <pre class="o-color--medium-grey">o-line-height--m</pre>
    <p class="o-line-height--s">Small</p>
    <pre class="o-color--medium-grey">o-line-height--s</pre>
    <p class="o-line-height--xs">X Small</p>
    <pre class="o-color--medium-grey">o-line-height--xs</pre>
    <p class="o-line-height--xxs">XX Small</p>
    <pre class="o-color--medium-grey">o-line-height--xxs</pre>
</section>

<section class="section">
    <h2>Headings</h2>

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
</section>

<section class="section">
    <h2>Block Elements</h2>

    <h3>Paragraphs</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius mattis fringilla. Ut laoreet erat vitae facilisis convallis. Nam et molestie tortor. Phasellus in gravida justo. Mauris blandit at metus non pretium. Sed non mi nibh. Nam sit amet lorem finibus, efficitur turpis at, pulvinar ligula. Integer tempus, dolor vitae facilisis ornare, augue diam ultricies ligula, in tincidunt felis dolor cursus felis. Praesent finibus feugiat velit, a condimentum purus imperdiet eget. Duis sodales convallis ex, id accumsan velit tristique id. Nullam sit amet blandit purus. Curabitur tincidunt et dui in dignissim.</p>

    <h3>Images</h3>

    <h3>Blockquotes</h3>

    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius mattis fringilla. Ut laoreet erat vitae facilisis convallis. Nam et molestie tortor. Phasellus in gravida justo. Mauris blandit at metus non pretium.</blockquote>
</section>

<section class="section">
    <h2>Text Elements</h2>
        <p>An <a href="#">a element</a> example</p>
        <p>A <strong>strong element</strong> example</p>
        <p>An <em>em element</em> example</p>
        <p>A <span class="o-text-decoration--line-through">strikethrough</span> example</p>
</section>

<section class="section">
    <h2>List Types</h2>

    <h3>Ordered List</h3>
    <ol>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3<ol>
            <li>List Item 3.1</li>
            <li>List Item 3.2</li>
            <li>List Item 3.3</li>
        </ol></li>
        <li>List Item 4</li>
    </ol>

    <h3>Unordered List</h3>
    <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3
            <ul>
                <li>List Item 3.1</li>
                <li>List Item 3.2</li>
                <li>List Item 3.3</li>
            </ul>
        </li>
        <li>List Item 4</li>
    </ul>

    <h3>Definition List</h3>
    <dl>
        <dt>Definition Term 1</dt>
        <dd>Definition Description 1</dd>
        <dt>Definition Term 2</dt>
        <dd>Definition Description 2</dd>
    </dl>
</section>

<section class="section">
    <h2>Tables</h2>

    <table>
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Cell 1.1</td>
            <td>Cell 1.2</td>
            <td>Cell 1.3</td>
            <td>Cell 1.4</td>
        </tr>
        <tr>
            <td>Cell 2.1</td>
            <td>Cell 2.2</td>
            <td>Cell 2.3</td>
            <td>Cell 2.4</td>
        </tr>
        <tr>
            <td>Cell 3.1</td>
            <td>Cell 3.2</td>
            <td>Cell 3.3</td>
            <td>Cell 3.4</td>
        </tr>
        </tbody>
    </table>
</section>

<section class="section">
    <h2>Form Elements</h2>

    <form>
            <div class="fields"><label for="text_field">Text Field:</label>
                <div class="input-box"><input id="text_field" class="input-text" type="text" /></div>
            </div>
            <div class="fields"><label for="text_field_failed">Validation Failed Text Field:</label>
                <div class="input-box"><input id="text_field_failed" class="input-text validation-failed" type="text" /></div>
            </div>
            <div class="fields"><label for="text_field_disabled">Disabled Text Field:</label>
                <div class="input-box"><input id="text_field_disabled" class="input-text" type="text" disabled="disabled" value="I'm disabled" /></div>
            </div>
            <div class="fields"><label for="text_area">Text Area:</label>
                <div class="input-box"></div>
            </div>
            <div class="fields">
                <div class="field"><label for="select_element">Select Element:</label>
                    <div class="input-box"><select id="select_element">
                        <optgroup label="Option Group 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </optgroup>
                        <optgroup label="Option Group 2">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option disabled="disabled" value="3">Disabled Option</option>
                        </optgroup>
                    </select></div>
                </div>
                <div class="field"><label for="select_element_disabled">Disabled Select Element:</label>
                    <div class="input-box"><select id="select_element_disabled" disabled="disabled">
                        <option value="1">Unselectable Option</option>
                        <option value="2">This option should not even be seen</option>
                    </select></div>
                </div>
            </div>
            <div>Radio Buttons:</div>
            <div class="control"><input id="radio_1" class="radio" type="radio" value="radio_1" name="radio_button" /> <label for="radio_1">Radio 1</label></div>
            <div class="control"><input id="radio_2" class="radio" type="radio" checked="checked" value="radio_2" name="radio_button" /> <label for="radio_2">Radio 2</label></div>
            <div class="control"><input id="radio_3" class="radio" type="radio" disabled="disabled" value="radio_3" name="radio_button" /> <label for="radio_3">Radio Disabled</label></div>
            <div>Checkboxes:</div>
            <div class="control"><input id="check_1" class="checkbox" type="checkbox" value="check_1" name="checkboxes" /> <label for="check_1">Checkbox 1</label></div>
            <div class="control"><input id="check_2" class="checkbox" type="checkbox" checked="checked" value="check_2" name="checkboxes" /> <label for="check_2">Checkbox 2</label></div>
            <div class="control"><input id="check_3" class="checkbox" type="checkbox" disabled="disabled" value="check_3" name="checkboxes" /> <label for="check_3">Checkbox Disabled</label></div>
    </form>
</section>

<section class="section">
    <h2>Buttons</h2>

    <p><input class="button" type="submit" value="Primary Button" /> <input class="button button-secondary" type="submit" value="Secondary Button" /> <input class="button disabled" type="submit" value="Disabled Button" /></p>
</section>

<section class="section">
    <h2>Icons</h2>
</section>

<section class="section">
    <h2>Tabs</h2>
</section>

<section class="section">
    <h2>Accordions</h2>
</section>

<section class="section">
    <h2>Lightboxes</h2>
</section>

<section class="section">
    <h2>Notifications</h2>
</section>
